@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin position($xy:'', $position:absolute, $top:initial, $right:initial, $bottom:initial, $left:initial) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  @if ($xy=='x') {
    left: 50%;
    transform: translateX(-50%);
  }
  @else if ($xy=='y') {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if ($xy=='xy') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin sprite($w, $h, $bg-pos) {  
  width: $w;
  height: $h;
  background-position: $bg-pos;
}