@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'), url('~@/assets/fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'), url('~@/assets/fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 800;
  src: url('~@/assets/fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'), url('~@/assets/fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 350;
  src: url('~@/assets/fonts/NotoSans/NotoSans-DemiLight.otf') format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/NotoSans/NotoSans-Regular.woff') format('woff'), url('~@/assets/fonts/NotoSans/NotoSans-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/NotoSans/NotoSans-Bold.woff') format('woff'), url('~@/assets/fonts/NotoSans/NotoSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 800;
  src: url('~@/assets/fonts/NotoSans/NotoSans-Black.woff') format('woff'), url('~@/assets/fonts/NotoSans/NotoSans-Black.otf') format('opentype');
}
